*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: #FFF;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 1em 3em rgb(0, 0, 0);

}
h2{
    font-size: 2em;
    color: #000;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000;  
}
.inputbox .label-input{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.inputText:focus ~ .label-input,
.inputText:not(:placeholder-shown) ~ .label-input{
top: -5px;
}


.inputbox .inputText {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #000;
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #000;
    display: flex;
    justify-content: space-between;  
}

.forget .label-input .inputText{
    margin-right: 3px;
    
}
.forget .label-input a{
    color: #000;
    text-decoration: none;
}
.forget .label-input a:hover{
    text-decoration: underline;
    color: #F375B5;
}
.btnLogin{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}
.btnLogin:hover { 
    transform: scale(1.07);
    background-color: #F375B5;
   
}
.register{
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 25px 0 10px;
}
.btnNewAccount{
    background: transparent;
    border: none;
    color: #000;
    font-weight: 600;
}
.btnNewAccount:hover{
    text-decoration: underline;
    color: #F375B5;
}