* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.sales,
.products,
.employees,
.clients {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 7rem;
}

.login {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}


